export JAVA_HOME=/opt/homebrew/opt/openjdk@17/libexec/openjdk.jdk/Contents/Home
export ANDROID_HOME=/Users/davidnutting/Android/sdk
export ANDROID_SDK_ROOT=$ANDROID_HOME
PATH_add "$JAVA_HOME/bin"
PATH_add "$ANDROID_HOME/platform-tools"
PATH_add "$ANDROID_HOME/emulator"
PATH_add "$ANDROID_HOME/cmdline-tools/latest/bin"
